alias cls='clear'
alias cp='cp -i'
alias du='du -h --max-depth=1'
alias mv='mv -i'
alias rm='_rm'
alias tls='tmux ls'
alias tx='tmux attach'
alias txn='tmux new -s'
alias vi='vim'
alias yarnb='yarn build'
alias yarns='yarn start'
alias yarnw='yarn watch'

cd() { builtin cd "$@"; ls; check_venv; }

alias ..="cd ../"
alias ...="cd ../../"
alias ....="cd ../../../"

rrm() { /bin/rm -i "$@"; }

# Helper functions

function check_venv {
  unset PROJECT_NAME

  VENV_HOME="$HOME/.venv"

  GIT_DIR=`git rev-parse --absolute-git-dir 2> /dev/null`
  if [ $GIT_DIR ]; then
    PROJECT_NAME=`dirname $GIT_DIR | xargs basename`
  fi

  if [ $PROJECT_NAME ] && [ "$VIRTUAL_ENV" != "$VENV_HOME/$PROJECT_NAME" ] && [ -e "$VENV_HOME/$PROJECT_NAME/bin/activate" ]; then
    . $VENV_HOME/$PROJECT_NAME/bin/activate && export ACTIVATED_VENV="$PROJECT_NAME"
  elif [ $ACTIVATED_VENV ] && [ "$ACTIVATED_VENV" != "$PROJECT_NAME" ]; then
    deactivate && unset ACTIVATED_VENV
  fi
}

function _rm() {
while [ $# -ge 1 ]; do
	mv -f "$1" $HOME/tmp
	echo "$1 deleted."
	shift
done
}

# vi:syn=sh
