alias cls='clear'
alias cp='cp -i'
alias du='du -h --max-depth=1'
alias mv='mv -i'
alias rm='_rm'
alias tls='tmux ls'
alias tx='tmux attach'
alias txn='tmux new -s'
alias vi='vim'
alias yarnb='yarn build'
alias yarns='yarn start'
alias yarnw='yarn watch'

cd() { builtin cd "$@"; ls; }

alias ..="cd ../"
alias ...="cd ../../"
alias ....="cd ../../../"

rrm() { /bin/rm -i "$@"; }

# Helper function

function _rm() {
while [ $# -ge 1 ]; do
	mv -f "$1" $HOME/tmp
	echo "$1 deleted."
	shift
done
}

# vi:syn=sh
