[alias]
	a = add
	ci = commit -m
	co = checkout
  gr = log --date=short --graph --pretty=format:"%C(yellow)%h%Creset %ad %C(bold green)%an%Creset %s%C(yellow)%d%Creset"
	l = log --pretty=format:"%C(yellow)%h\\ %ad%Cred%d\\ %Creset%s%Cgreen\\ [%cn]" --decorate --date=short
	s = status -s
[color]
	ui = true
[core]
  editor=vim
[push]
	default = simple
[user]
	email =
	name =
