[alias]
  a = add
  ci = commit -m
  co = checkout
  l = log --date=short --decorate --pretty=format:"%C(yellow)%h%Creset\\ %ad%C(auto)%d%Creset\\ %C(bold)%C(black)%an%Creset\\ %s"
  s = status -s
[color]
  ui = true
[core]
  editor = vim
[push]
  default = simple
